* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.content {
  font-size: 32px;
  font-weight: 700;
}
