opentelemetry-collector:
  image:
    repository: otel/opentelemetry-collector-contrib
    tag: latest

  mode: deployment

  config:
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: "0.0.0.0:4317"
          http:
            endpoint: "0.0.0.0:4318"

    processors:
      batch: {}

    exporters:
      clickhouse:
        endpoint: "tcp://lungo-local-cluster-clickhouse:9000"
        database: "default"
        username: "admin"
        password: "admin"

    service:
      pipelines:
        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [clickhouse]
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [clickhouse]